.footer {
  align-items: center;
  background-color: tomato;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  width: 100%;
}

.drink-btn {
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 0;
}

.drink-icon {
  background-color: tomato;
}

.explore-btn {
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 0;
}

.explore-icon {
  background-color: tomato;
}

.meal-btn {
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 0;
}

.meal-icon {
  background-color: tomato;
}
