.header-section {
  align-items: center;
  background-color: tomato;
  display: flex;
  justify-content: space-around;
}

.profile-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 0;
}

.profile-icon {
  background-color: tomato;
}

.title {
  color: white;
}

.search-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 0;
}

.search-icon {
  background-color: tomato;
}
